<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/reset-password" method="post">
        <input type="text" name="brukernavn" id="brukernavn" placeholder="Brukernavn" required>
        <input type="password" name="newPassord" id="newPassord" placeholder="Nytt Passord" required>
        <input type="password" name="gjentapassord" id="gjentapassord" placeholder="Gjenta Passord" required>
        <button type="submit">Endre Passord</button>
    </form>
</body>
</html>
