<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Opprett bruker</h1>
        <form action="" method="post">
    
            <input type="text" name="brukernavn" id="brukernavn" placeholder="brukernavn">

            <input type="password" name="passord" id="passord" placeholder="passord">
            <input type="password" name="gjentapassord" id="passord" placeholder="gjenta passord">
            <button type="submit">Send inn</button>
        </form>
</body>
</html>