<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Innlogging</h1>
    <form action="" method="post">

        <input type="text" name="brukernavn" id="brukernavn" placeholder="brukernavn">
        <input type="password" name="passord" id="passord" placeholder="passord">
        <button type="submit">Send inn</button>
    </form>

<!-- Reset Password Link -->
    <button onclick="window.location.href='/reset-password'">Reset Password</button>
</body>
</html>